@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?qccxbq');
  src:  url('fonts/icomoon.eot?qccxbq#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?qccxbq') format('truetype'),
    url('fonts/icomoon.woff?qccxbq') format('woff'),
    url('fonts/icomoon.svg?qccxbq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo-gn:before {
  content: "\e903";
  color: #fff;
}
.icon-trailing:before {
  content: "\e900";
  color: #fff;
}
